.createpost {
  margin-top: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.createForm {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
  height: 16rem;
  overflow: auto;
}
.createpostbtn {
  width: 50%;
  text-align: center;
}
