.modal-body {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.styled-table {
  text-align: center;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 70%;
  padding: 1.5rem;
  color: green;
}
